@import url(https://fonts.googleapis.com/css?family=Sofia+Sans+Extra+Condensed:300italic,500italic,700italic&display=swap);
@import url("reset.css");

@font-face {
    font-family: 'New Romantics';
    src: url('../fonts/NewRomantics.woff2') format('woff2'),
        url('../fonts/NewRomantics.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
	width: 1200px;
    background-color: #000000;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.593);
	line-height: 1.2;
}

header{
	background-color: rgba(116, 47, 47, 0.5);
}

.navigation {
	font-family:'Alegreya Sans', sans-serif;
	font-size: 16px;
	font-style: italic;
	color: rgb(255, 0, 0);
}

.title{
	font-family: Sofia Sans Extra Condensed;
	font-size: 30px;
	color:rgb(255, 255, 255)
		
}

.blok {
	text-align: right;
}
.text__header {
	font-family: 'New Romantics';
	line-height: 2;
	font-weight: bold;
	word-spacing: 15px;
}
.blok .text__footer{
	text-decoration: underline;
}

.text__header {
	font-family: Sofia Sans Extra Condensed;
	text-shadow: 2px 2px 2px rgb(238, 222, 222);
}

.container {
	font-family: serif;
	text-align: center;
	font-style: oblique;
	text-transform: lowercase;
}
.container .text__header{
text-transform: uppercase;
}

.box {
	text-align: justify;
	text-indent: 40px;
}
.list {
	text-decoration:overline;
	}

.box .list{
	text-transform: capitalize;
}
.item {
	font-family: Sofia Sans Extra Condensed;
	font-weight: bold;
	font-style: italic;
	text-decoration: line-through;

}
footer {
	background-color: rgba(116, 47, 47, 0.5);
	text-align: center;
}

#third{
	letter-spacing: 15px;
}